.App {
  text-align: center;
  padding: 30px;
  background: #e9c2d7;
}
header {
  font-size: 30px;
  font-weight: bold;
  color: #1cb3a9;
  padding: 10px 0 10px 0;
}
footer {
  padding-top: 30px;
  font-family: monospace;
  color: #1cb3a9;
}
footer a {
  text-decoration: none;
  color: #e9c2d7;
}
footer a:hover {
  color: #a29e9e;
}
