.App {
  text-align: center;
  padding: 30px;
  background: #faf2da;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.App-header {
  font-size: 50px;
  font-weight: lighter;
  color: #4a503d;
  padding: 7px 0 7px 0;
}
.title {
  font-size: 20px;
  font-weight: lighter;
  color: #e28f83;
  padding: 7px 0 7px 0;
}
footer {
  padding-top: 10px;
  font-family: monospace;
  color: #4a503d;
}
footer a {
  text-decoration: none;
  color: #8e9775;
}
footer a:hover {
  color: #e28f83;
}
.App img {
  width: 170px;
}
