.Phonetic {
  height: 60px;
  padding-top: 20px;
}

.Phonetic a {
  border: 1px solid #8e9775;
  color: #e28f83;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
  background: #e28f83;
  color: azure;
}
