.Synonyms li {
  text-decoration: none;
  display: inline-flex;
  border: 1px solid #8e9775;
  color: #8e9775;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: lighter;
  border-radius: 10px;
  margin: 5px 5px;
}
